<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <meta content="text/html;charset=utf-8" http-equiv="content-type"/>
  <title>
   Replacer
  </title>
  <meta content="Replacer theme" name="description"/>
  <link href="css/css" rel="stylesheet"/>
  <link href="css/bootstrap.css" rel="stylesheet"/>
  <link href="css/replacer.css" rel="stylesheet"/>
  <link href="css/font-awesome.css" rel="stylesheet"/>
  <script src="js/webfont.js">
  </script>
  <script>
   WebFont.load({
                google: {
                    families: ['Ranga', 'Julius Sans One', 'Montserrat']
                }
            });
  </script>
 </head>
 <body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light">
   <a class="navbar-brand p-0" href="index_0.html" target="_blank">
    <span>
    </span>
   </a>
   <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon">
    </span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
     <li class="nav-item mx-1">
      <a class="nav-link" href="index_0.html">
       Home
      </a>
     </li>
     <li class="nav-item mx-1 dropdown active">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="index_10.html" id="templates-dropdown" role="button">
       Templates
      </a>
      <div aria-labelledby="templates-dropdown" class="dropdown-menu">
       <a class="dropdown-item" href="index_2.html">
        First
       </a>
       <a class="dropdown-item" href="index_3.html">
        Second
       </a>
       <a class="dropdown-item" href="index_4.html">
        Third
       </a>
       <a class="dropdown-item" href="index_5.html">
        Fourth
       </a>
       <a class="dropdown-item" href="index_6.html">
        Fifth
       </a>
       <a class="dropdown-item" href="index_7.html">
        Sixth
       </a>
       <a class="dropdown-item" href="index_8.html">
        Seventh
       </a>
       <a class="dropdown-item" href="index_9.html">
        Eighth
       </a>
       <a class="dropdown-item" href="index_10.html">
        Ninth
       </a>
      </div>
     </li>
     <li class="nav-item mx-1 dropdown">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="index_10.html" id="pages-dropdown" role="button">
       Pages
      </a>
      <div aria-labelledby="pages-dropdown" class="dropdown-menu">
       <a class="dropdown-item" href="index_11.html">
        About
       </a>
       <a class="dropdown-item" href="index_12.html">
        Features
       </a>
       <a class="dropdown-item" href="index_13.html">
        FAQ
       </a>
       <a class="dropdown-item" href="index_14.html">
        Login
       </a>
       <a class="dropdown-item" href="index_15.html">
        Register
       </a>
       <a class="dropdown-item" href="index_16.html">
        404
       </a>
       <a class="dropdown-item" href="index_17.html">
        Coming soon
       </a>
       <a class="dropdown-item" href="index_18.html">
        Blog
       </a>
       <a class="dropdown-item" href="index_19.html">
        Blog entry
       </a>
      </div>
     </li>
     <li class="nav-item mx-1">
      <a class="nav-link" href="index_1.html">
       Icons
      </a>
     </li>
     <li class="nav-item mx-1">
      <a class="nav-link" href="documentation.html">
       Documentation
      </a>
     </li>
     <li class="nav-item ml-1 mr-3">
      <a class="nav-link" href="mailto:hello@getreplacer.com">
       Support
      </a>
     </li>
     <li class="nav-item">
      <a class="btn mr-2 btn-dark" href="https://themes.getbootstrap.com/product/replacer-2/" id="buy-button">
       Purchase
      </a>
     </li>
    </ul>
   </div>
  </nav>
  <div id="hero-09" style="background: #EAECED;">
   <div class="container d-flex py-5" style="min-height: 105vh;">
    <div class="row py-4 my-auto">
     <div class="col-lg-4 col-md-6 col-sm-12 mr-auto pb-3 my-auto">
      <h2 class="display-4 mb-3" style="font-family: 'Montserrat', sans-serif;">
       Replacer
      </h2>
      <p class="lead pb-4 text-secondary">
       Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites
      </p>
      <form>
       <div class="form-row mb-4">
        <div class="col-lg-8 col-md-8 col-sm-12 pb-2 mx-auto mx-lg-o">
         <input class="form-control form-control-lg border-0 rounded-0" placeholder="Enter your E-mail" type="text"/>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-12 pb-2 mx-auto mx-lg-0">
         <button class="btn btn-warning w-100 btn-lg border-0 rounded-0" type="submit">
          Register
          <i class="fa fa-angle-right ml-2">
          </i>
         </button>
        </div>
       </div>
      </form>
      <p class="mt-3 text-secondary">
       <small>
        <i class="fa fa-heart mr-2">
        </i>
        Version 0.98 available
        <a class="btn-link text-secondary" href="index_10.html">
         <u>
          for download
         </u>
        </a>
       </small>
      </p>
     </div>
     <div class="col-lg-8 col-md-6 col-sm-12 my-auto">
      <img class="w-100 mb-5" src="img/device-01.png"/>
     </div>
    </div>
   </div>
  </div>
  <div id="clients-01">
   <div class="container">
    <div class="row py-1">
     <div class="col-lg-12 col-md-12 mx-auto d-flex justify-content-between flex-column flex-lg-row flex-xl-row">
      <a class="p-4 text-center" href="index_10.html">
       <img height="32px" src="img/vector-cnn.svg" style="opacity: .5;"/>
      </a>
      <a class="p-4 text-center" href="index_10.html">
       <img height="32px" src="img/vector-airbnb.svg" style="opacity: .5;"/>
      </a>
      <a class="p-4 text-center" href="index_10.html">
       <img height="32px" src="img/vector-cc.svg" style="opacity: .5;"/>
      </a>
      <a class="p-4 text-center" href="index_10.html">
       <img height="32px" src="img/vector-cnbc.svg" style="opacity: .5;"/>
      </a>
      <a class="p-4 text-center" href="index_10.html">
       <img height="32px" src="img/vector-time.svg" style="opacity: .5;"/>
      </a>
      <a class="p-4 text-center" href="index_10.html">
       <img height="32px" src="img/vector-js.svg" style="opacity: .5;"/>
      </a>
     </div>
    </div>
   </div>
  </div>
  <div class="container">
   <hr class="m-0"/>
  </div>
  <div class="py-5 my-4" id="features-07">
   <div class="container py-5">
    <div class="row mb-5">
     <div class="col text-center">
      <h2 class="display-4 mb-3">
       Key features
      </h2>
      <p class="lead text-secondary mb-3">
       To spread the power of good design
      </p>
     </div>
    </div>
    <div class="row">
     <div class="col-lg-4 col-md-6 col-sm-12 mb-4 text-center">
      <div class="card bg-transparent pt-4 border-0">
       <div class="card-body">
        <img class="mb-4" height="56px" src="img/e-commerce-44.svg"/>
        <h3 class="h5 text-dark">
         Research
        </h3>
        <p class="lead mx-4 text-secondary mb-3">
         To master Replacer you only need official BS4 documentation, no more
        </p>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-md-6 col-sm-12 mb-4 text-center">
      <div class="card bg-transparent pt-4 border-0">
       <div class="card-body">
        <img class="mb-4" height="56px" src="img/interface-8.svg"/>
        <h3 class="h5 text-dark">
         Design
        </h3>
        <p class="lead mx-4 text-secondary mb-3">
         Super fast loading speed. Only pure Bootstrap 4, and no additional third-party plugins
        </p>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-md-6 col-sm-12 mb-4 text-center">
      <div class="card bg-transparent pt-4 border-0">
       <div class="card-body">
        <img class="mb-4" height="56px" src="img/e-commerce-29.svg"/>
        <h3 class="h5 text-dark">
         Development
        </h3>
        <p class="lead mx-4 text-secondary mb-3">
         Modern design is a top priority. With Replacer anyone can create stunning websites
        </p>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-md-6 col-sm-12 mb-4 text-center">
      <div class="card bg-transparent pt-4 border-0">
       <div class="card-body">
        <img class="mb-4" height="56px" src="img/e-commerce-22.svg"/>
        <h3 class="h5 text-dark">
         Prototypes
        </h3>
        <p class="lead mx-4 text-secondary mb-3">
         Constantly growing and updatable HTML template that follows native bootstrap 4 features
        </p>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-md-6 col-sm-12 mb-4 text-center">
      <div class="card bg-transparent pt-4 border-0">
       <div class="card-body">
        <img class="mb-4" height="56px" src="img/weather-31.svg"/>
        <h3 class="h5 text-dark">
         Marketing
        </h3>
        <p class="lead mx-4 text-secondary mb-3">
         Replacer is suitable for all kind of modern web projects
        </p>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-md-6 col-sm-12 mb-4 text-center">
      <div class="card bg-transparent pt-4 border-0">
       <div class="card-body">
        <img class="mb-4" height="56px" src="img/science-20.svg"/>
        <h3 class="h5 text-dark">
         Production
        </h3>
        <p class="lead mx-4 text-secondary mb-3">
         Super fast loading speed. Only pure Bootstrap 4, and no additional third-party plugins
        </p>
       </div>
      </div>
     </div>
    </div>
    <div class="row pt-5 pb-3">
     <div class="col text-center">
      <a class="btn btn-lg btn-outline-dark mr-2" href="index_10.html">
       Connect now
      </a>
     </div>
    </div>
   </div>
  </div>
  <div class="py-5" id="forms-02" style="background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.3)), url('img/photo-50.jpg') center center; background-size: cover;">
   <div class="container d-flex flex-column py-5" style="min-height: 105vh;">
    <div class="row my-auto">
     <div class="col-lg-5 col-md-12 col-sm-12 my-auto">
      <div class="card border-0">
       <div class="card-header bg-transparent px-5">
        <h2 class="h4 pt-3 pb-2">
         Login
        </h2>
       </div>
       <div class="card-block pt-4 px-5 pb-1">
        <form>
         <div class="form-group">
          <label class="text-secondary" for="#forms-3-mail">
           <small>
            E-mail
           </small>
          </label>
          <input class="form-control form-control-lg rounded-0" id="forms-3-mail" placeholder="E-mail" type="email"/>
         </div>
         <div class="form-group mb-3">
          <label class="text-secondary" for="#forms-3-password">
           <small>
            Password
           </small>
          </label>
          <input class="form-control form-control-lg rounded-0" id="forms-3-password" placeholder="Password" type="password"/>
         </div>
         <div class="form-check mb-4">
          <label class="form-check-label text-secondary">
           <input class="form-check-input mr-2" type="checkbox" value=""/>
           Remember me
          </label>
         </div>
         <button class="btn btn-lg btn-warning mb-4 w-100 rounded-0" type="submit">
          Sign In
         </button>
         <div class="text-secondary mb-3 lead">
          Login with social acounts
         </div>
         <a class="btn btn-secondary mb-2 border-0 text-light mr-1">
          <i class="fa fa-facebook-official mr-2">
          </i>
          Facebook
         </a>
         <a class="btn btn-secondary mb-2 border-0 text-light">
          <i class="fa fa-twitter mr-2">
          </i>
          Twitter
         </a>
         <hr/>
         <p>
          <small>
           <a class="text-secondary" href="index_10.html">
            I forgot my password
           </a>
          </small>
         </p>
        </form>
       </div>
      </div>
     </div>
     <div class="col-lg-5 col-md-10 col-sm-12 m-auto py-5 my-auto">
      <h2 class="display-4 mb-3 text-white">
       Work with us
      </h2>
      <p class="lead mb-4 mr-5 text-white">
       Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce and corporate websites
      </p>
      <hr class="my-4 border-light" style="opacity: .2;"/>
      <a class="btn my-2 p-0 text-white" href="index_10.html">
       Create account
       <i class="fa fa-angle-right ml-2">
       </i>
      </a>
     </div>
    </div>
   </div>
  </div>
  <div class="py-5" id="pricing-01">
   <div class="container py-5 my-5">
    <div class="row py-3">
     <div class="col text-center">
      <h2 class="display-4 mb-3">
       Let's work together
      </h2>
      <p class="lead text-secondary mb-5 pb-3 mx-5">
       Eu ius eius vulputate deseruisse. Eu per facete integre blandit
      </p>
     </div>
    </div>
    <div class="row">
     <div class="col-lg-12 col-md-12 mx-lg-auto">
      <div class="card-group">
       <div class="card mb-3 text-center">
        <div class="card-body">
         <p class="text-secondary mt-3 mb-4">
          Home
         </p>
         <p class="lead mb-3 text-secondary mx-4">
          Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios
         </p>
        </div>
        <div class="card-footer bg-transparent border-0">
         <div class="mb-5">
          <span class="display-4">
           free
          </span>
         </div>
         <a class="btn btn-light w-100 btn-lg mb-3" href="index_10.html">
          Get started
         </a>
        </div>
       </div>
       <div class="card mb-3 text-center">
        <div class="card-body">
         <p class="text-secondary mt-3 mb-4">
          Corporate
          <span class="badge badge-pill badge-secondary ml-2">
           Popular
          </span>
         </p>
         <p class="lead mb-3 text-secondary mx-4">
          Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes
         </p>
        </div>
        <div class="card-footer bg-transparent border-0">
         <div class="mb-5">
          <span class="display-4">
           $29
          </span>
          <span class="text-secondary">
           / month
          </span>
         </div>
         <a class="btn btn-warning w-100 btn-lg mb-3" href="index_10.html">
          Get started
         </a>
        </div>
       </div>
       <div class="card mb-3 text-center">
        <div class="card-body">
         <p class="text-secondary mt-3 mb-4">
          Enterprise
         </p>
         <p class="lead mb-3 text-secondary mx-4">
          Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will
         </p>
        </div>
        <div class="card-footer bg-transparent border-0">
         <div class="mb-5">
          <span class="display-4">
           $199
          </span>
          <span class="text-secondary">
           / month
          </span>
         </div>
         <a class="btn btn-light w-100 btn-lg mb-3" href="index_10.html">
          Get started
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col text-center">
      <a class="btn text-secondary p-4" href="index_10.html">
       <i class="fa fa-clone mr-2">
       </i>
       <u>
        Learn more
       </u>
      </a>
     </div>
    </div>
   </div>
  </div>
  <div class="pt-5 pb-1" id="footer-01">
   <div class="container">
    <div class="row align-items-center">
     <div class="col-md-12 col-lg-6 text-center text-lg-left">
      <ul class="list-inline my-4 my-0">
       <li class="list-inline-item">
        <a class="btn-link h3 text-secondary p-1" href="index_10.html">
         <i class="fa fa-twitter">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a class="btn-link h3 text-secondary p-1" href="index_10.html">
         <i class="fa fa-facebook-official">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a class="btn-link h3 text-secondary p-1" href="index_10.html">
         <i class="fa fa-dribbble">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a class="btn-link h3 text-secondary p-1" href="index_10.html">
         <i class="fa fa-behance-square">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a class="btn-link h3 text-secondary p-1" href="index_10.html">
         <i class="fa fa-github">
         </i>
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="row">
     <div class="col">
      <hr class="mb-4"/>
     </div>
    </div>
    <div class="row">
     <div class="col-lg-6 col-md-12 text-secondary text-center text-lg-left">
      <p class="pb-2">
       © 2017 — 2018, Replacer
      </p>
     </div>
     <div class="col-lg-6 col-md-12 text-secondary text-center text-lg-right">
      <ul class="list-inline pb-2">
       <li class="list-inline-item">
        <a class="py-2 text-secondary" href="index_10.html">
         hello@robowolf.net
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <script src="js/jquery-3.3.1.slim.min.js">
  </script>
  <script src="js/popper.min.js">
  </script>
  <script src="js/bootstrap.min.js">
  </script>
  <script src="js/replacer.js">
  </script>
 </body>
</html>