.navbar-light-shadow {
	box-shadow: 0 0 4px rgba(0, 0, 0, .3);
  background-color: #fff;
}
.navbar-dark-shadow {
  background-color: #343a40;
}

hr {
  border-color: #eee;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.hvr-float {
  transition: all 0.2s ease-in !important;
  opacity: .95
}

.hvr-float:hover {
  transition: all 0.2s ease-in !important;
  opacity: 1
}

.re__icon {
  border-radius: 5px;
  padding: 5px;
}

.re__icons-border {
  border: solid 2px #eee;
  padding: 20px 0;
  border-radius: 20px;
}

.re__card-template {
  transition: all .15s;
  border: none;
}

.re__card-template:hover {
  text-decoration: none !important;
  margin-top: -5px;
}

.re__thumb {
  overflow: hidden;
  background: transparent !important;
}

@media (max-width: 1200px) {
  
  .navbar {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: #fff; }

}

.btn-info {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}