lxml
#pyquery==1.4.0
psycopg2-binary==2.7.7
requests[socks]==2.18.4
#redis
django==2.2.13
#apscheduler==3.5.1
beautifulsoup4==4.6.3
html5lib==1.0b8
chardet
tldextract
aiohttp
aiodns
aiofiles
gunicorn==19.9.0
#ConcurrentLogHandler==0.9.1
#pywin32
#django-simple-captcha
validators
django-recaptcha==2.0.2
django-autotranslate
