{% extends "bak/_layout.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="pt-5">
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 col-md-12 col-sm-12 py-5 mr-auto text-left my-5">
                <h1 class="h5 text-secondary">
                    {% trans '网站模版爬虫' %}
                </h1>
                <p class="display-4 mb-2 mt-4 mr-5" style="font-family: 'Montserrat', sans-serif; font-weight: 300;">
                    {% trans '加速您的网站设计' %}
                </p>

                <div class="pt-3 pb-4 mr-5 pr-5">
                    <form method="post" action="..">{% csrf_token %}
                        <div class="form-group">
                            <label for="seeds">{% trans '模版URL' %}</label>
                            {% if error.url_list.0 %}
                                <span>{{ error.url_list.0 }}</span><br/>
                            {% endif %}
                            {{ form.seeds }}
                            <small id="emailHelp" class="form-text text-muted">{% trans '每行一个URL' %}
                            </small>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="user_agent">User-Agent</label>
                                    {{ form.user_agent }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="encoding">{% trans '网页编码' %}</label>
                                    {{ form.encoding }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="is_grab_out_link">{% trans '抓取外链' %}</label>
                                    {{ form.is_grab_out_link }}
                                    {% if error.is_grab_out_link.0 %}
                                        <span>{{ error.is_grab_out_link.0 }}</span><br/>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    {% if error.email.0 %}
                                        <span>{{ error.email.0 }}</span><br/>
                                    {% endif %}
                                    {{ form.email }}
                                    <small class="form-text text-muted">{% trans '用来接收爬取结果' %}
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">

                            <div class="col">
                                <div class="form-group">

                                    {% if error.captcha.0 %}
                                        <span>{{ error.captcha.0 }}</span><br/>
                                    {% endif %}
                                    {{ form.captcha }}
                                    <small class="form-text text-muted">{% trans '请输入验证码' %}
                                    </small>
                                </div>
                            </div>
                        </div>

                        <span class="alert-warning">{{ task_dup_error }}</span><br>
                        <button type="submit" class=" btn btn-lg btn-info mr-2">{% trans '开始抓取' %}</button>

                    </form>
                </div>

            </div>

            {#            <div class="col-lg-6 col-md-12 col-sm-12"#}
            {#                 style="background: url('{% static "img/promo.jpg" %}') center bottom no-repeat; background-size: 100%;">#}
            {#            </div>#}
        </div>
    </div>
    <div class="bg-white" id="post-hero-01">
        <div class="container">
            <div class="row py-3 text-center">

                <div class="col mx-auto">
                    {#                    <span class="badge badge-pill badge-secondary mr-3">Discount</span>#}
                    {#                    <span class="text-secondary">Hello world!&nbsp;to get –10% off use this coupone code:#}
                    {#                            <mark class="px-2">RPLCR10</mark>#}
                    {#                        </span>#}
                </div>
            </div>
        </div>
    </div>
    <hr class="m-0"/>

<!-- tip popup : submit succ  -->
    <div class="modal fade" id="submitsucc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans '提交成功' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% trans '任务提交成功，模版下载地址会以邮件发送给您。</br>在任务完成之前您不能再次提交任务。' %}
                </div>
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                    <button type="button" class="btn btn-primary">Save changes</button>#}
{#                </div>#}
            </div>
        </div>
    </div>
<!-- end tip popup  -->

    <script>
    is_running = {{ has_running_task|default:"false" }};
    if (is_running){
        $('#submitsucc').modal({"focus": true});
        $('#submitsucc').on('hide.bs.modal', function (e) {
            e.preventDefault();
            return false;
         })
    }

    </script>

{% endblock %}
