@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";
input#id_captcha_1{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.logo {
			color: rgba(0,0,0,.5);
			font-family: "Pacifico", cursive;
			font-size: 1.2em;
			letter-spacing: 2px;
			margin-top: -5px;
			text-decoration: none;
			display: inline-block;
    margin-right: 1rem;

            text-decoration: none;

		}

.logo:hover{
    color: rgba(0,0,0,.5);
    text-decoration: none;
}