{% extends "_layout.html" %}
{% load static %}
{% load i18n %}
{% block content %}


<div class="bg-warning1 pt-3 bg-light" id="inner-2">
    <div class="container d-flex flex-column pt-5">
        <div class="row my-auto my-5 pt-5 pb-4">
            <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
                <h1 class="mb-2 font-weight-bold">
                    {% trans '如何使用' %}
                </h1>
                <p class="lead text-secondary">
                    {% trans '加速您的网站设计和开发' %}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="pt-5 pb-5 mb-2" id="content-14">
    <div class="container pt-3">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                <h2 class="display-4 mb-2">
                    {% trans 'Template-spider的功能' %}
                </h2>
                <div class="mb-4" id="faq-collapse-1">
                    <ul>
                        <li>
                            {% trans '借鉴别人的网站设计样式' %}
                        </li>
                        <li>
                            {% trans '复用别人的网站模版加速开发' %}
                        </li>
                        <li>
                            {% trans '收集漂亮的网站模版学习' %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                <h2 class="display-4 mb-2">
                    {% trans '使用教程' %}
                </h2>
                <hr class="mt-3 mb-4"/>
                <div class="mb-4" id="faq-collapse-1">
                    <h5>
                        <a aria-controls="collapse-1" aria-expanded="true" class="text-dark"
                           data-toggle="collapse"
                           href="index_13.html">
                            {% trans '第一步：找到一个喜欢的网站' %}
                        </a>
                    </h5>
                    <p class="collapse m-3 p-0 mr-5 show" id="collapse-1">
                        {% blocktrans %}
                        在开发初试阶段您一定有一个漂亮的网站需要参考，比如 http://www.bootcss.com/p/lesscss/。
                            您只需要把这个URL输入到网站的模版URL输入框里：
                        {% endblocktrans %}
                    <br>
                        <img class="rounded  img-fluid" src="{% static 'img/tutorial/find_a_beautiful_web_site.png' %}"/>
                    </p>
                </div>

                <div class="mb-4" id="faq-collapse-1">
                    <h5>
                        <a aria-controls="collapse-1" aria-expanded="true" class="text-dark"
                           data-toggle="collapse"
                           href="index_13.html">
                            {% trans '第二步：输入接收邮箱地址并提交任务' %}

                        </a>
                    </h5>
                    <p class="collapse m-3 p-0 mr-5 show" id="collapse-1">
                        {% blocktrans %}
                        模版的爬取和解析过程会比较慢，很多网站限制了访问的速度，因此如果您的模版包含的文件数目比较多，这会
                            消耗比较多的时间。您需要输入你的Email地址，在模版准备好之后通过邮件通知您。
                            <br>
                            为了服务更多的人，我们规定每次您不能提交多于10个的模版URL，以免影响他人使用。
                        {% endblocktrans %}
                    </p>
                </div>

            <div class="mb-4" id="faq-collapse-1">
                    <h5>
                        <a aria-controls="collapse-1" aria-expanded="true" class="text-dark"
                           data-toggle="collapse"
                           href="index_13.html">
                            {% trans '捐献我们' %}

                        </a>
                    </h5>
                    <p class="collapse m-3 p-0 mr-5 show" id="collapse-1">
                        {% blocktrans %}
                        如果您感觉本网站对您有用，请通过以下几种方式给我们捐献。您捐献的钱将会用于更强大的服务器和域名的购买。
                        {% endblocktrans %}<br/>
                    <img style="width: 200px;" class="rounded img-thumbnail  img-fluid" src="{% static 'img/alipay_donate.jpg' %}"/>
                    <img style="width: 200px;" class="rounded img-thumbnail img-fluid" src="{% static 'img/wechatpay_donate.jpg' %}"/>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

