<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <meta content="text/html;charset=utf-8" http-equiv="content-type"/>
  <title>
   Replacer
  </title>
  <meta content="Replacer theme" name="description"/>
  <link href="css/css" rel="stylesheet"/>
  <link href="css/bootstrap.css" rel="stylesheet"/>
  <link href="css/replacer.css" rel="stylesheet"/>
  <link href="css/font-awesome.css" rel="stylesheet"/>
  <script src="js/webfont.js">
  </script>
  <script>
   WebFont.load({
                google: {
                    families: ['Ranga', 'Julius Sans One', 'Montserrat']
                }
            });
  </script>
 </head>
 <body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light">
   <a class="navbar-brand p-0" href="index_0.html" target="_blank">
    <span>
    </span>
   </a>
   <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon">
    </span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
     <li class="nav-item mx-1">
      <a class="nav-link" href="index_0.html">
       Home
      </a>
     </li>
     <li class="nav-item mx-1 dropdown">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="index_18.html" id="templates-dropdown" role="button">
       Templates
      </a>
      <div aria-labelledby="templates-dropdown" class="dropdown-menu">
       <a class="dropdown-item" href="index_2.html">
        First
       </a>
       <a class="dropdown-item" href="index_3.html">
        Second
       </a>
       <a class="dropdown-item" href="index_4.html">
        Third
       </a>
       <a class="dropdown-item" href="index_5.html">
        Fourth
       </a>
       <a class="dropdown-item" href="index_6.html">
        Fifth
       </a>
       <a class="dropdown-item" href="index_7.html">
        Sixth
       </a>
       <a class="dropdown-item" href="index_8.html">
        Seventh
       </a>
       <a class="dropdown-item" href="index_9.html">
        Eighth
       </a>
       <a class="dropdown-item" href="index_10.html">
        Ninth
       </a>
      </div>
     </li>
     <li class="nav-item mx-1 dropdown active">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="index_18.html" id="pages-dropdown" role="button">
       Pages
      </a>
      <div aria-labelledby="pages-dropdown" class="dropdown-menu">
       <a class="dropdown-item" href="index_11.html">
        About
       </a>
       <a class="dropdown-item" href="index_12.html">
        Features
       </a>
       <a class="dropdown-item" href="index_13.html">
        FAQ
       </a>
       <a class="dropdown-item" href="index_14.html">
        Login
       </a>
       <a class="dropdown-item" href="index_15.html">
        Register
       </a>
       <a class="dropdown-item" href="index_16.html">
        404
       </a>
       <a class="dropdown-item" href="index_17.html">
        Coming soon
       </a>
       <a class="dropdown-item" href="index_18.html">
        Blog
       </a>
       <a class="dropdown-item" href="index_19.html">
        Blog entry
       </a>
      </div>
     </li>
     <li class="nav-item mx-1">
      <a class="nav-link" href="index_1.html">
       Icons
      </a>
     </li>
     <li class="nav-item mx-1">
      <a class="nav-link" href="documentation.html">
       Documentation
      </a>
     </li>
     <li class="nav-item ml-1 mr-3">
      <a class="nav-link" href="mailto:hello@getreplacer.com">
       Support
      </a>
     </li>
     <li class="nav-item">
      <a class="btn mr-2 btn-warning" href="https://themes.getbootstrap.com/product/replacer-2/" id="buy-button">
       Purchase
      </a>
     </li>
    </ul>
   </div>
  </nav>


  <div class="pt-5">
   <div class="container d-flex flex-column py-5">
    <div class="row my-auto my-5 pt-5">
     <div class="col-lg-8 col-md-10 col-sm-12 mx-auto text-center text-dark">
      <h1 class="mb-3 font-weight-normal display-3">
       Hand picked articles
      </h1>
      <p class="lead text-secondary">
       To spread the power of good design
      </p>
      <ul class="list-inline mt-5">
       <li class="list-inline-item">
        <a class="btn-link h4 text-secondary pr-1" href="index_18.html">
         <i class="fa fa-twitter">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a class="btn-link h4 text-secondary p-1" href="index_18.html">
         <i class="fa fa-rss">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a class="btn-link h4 text-secondary p-1" href="index_18.html">
         <i class="fa fa-dribbble">
         </i>
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <div class="py-5 bg-white" id="cards">
   <div class="container py-3">
    <div class="row mb-5">
     <div class="col-lg-12 m-auto">
      <div class="card-group">
       <div class="card border rounded">
        <a href="index_18.html">
         <img alt="Card image cap" class="card-img-top" src="img/photo-40.jpg"/>
        </a>
        <div class="card-body pt-4">
         <p class="card-text mb-4 pb-0">
          <small class="text-muted">
           Last updated 3 mins ago
          </small>
         </p>
         <a class="card-link" href="index_18.html">
          <h3 class="card-title font-weight-normal text-dark">
           Cactus project
          </h3>
         </a>
         <p class="card-text text-secondary lead mb-4">
          This is a wider card with supporting text below as a natural lorem
         </p>
        </div>
        <div class="card-footer bg-white py-3 border-0">
         <small>
          <a class="card-link my-0 mx-0 px-0 text-secondary" href="index_18.html">
           <i class="fa fa-comment mr-2">
           </i>
           32 comments
          </a>
         </small>
        </div>
       </div>
       <div class="card mx-5 border rounded">
        <a href="index_18.html">
         <img alt="Card image cap" class="card-img-top" src="img/photo-47.jpg"/>
        </a>
        <div class="card-body pt-4">
         <p class="card-text mb-4 pb-0">
          <small class="text-muted">
           Last updated 3 mins ago
          </small>
         </p>
         <a class="card-link" href="index_18.html">
          <h3 class="card-title font-weight-normal text-dark card-link">
           Ceramics work
          </h3>
         </a>
         <p class="card-text text-secondary lead mb-4">
          This is a wider card with supporting text below as a natural lorem ipsum dolor set amet ipsum dolor
         </p>
        </div>
        <div class="card-footer bg-white py-3 border-0">
         <small>
          <a class="card-link my-0 mx-0 px-0 text-secondary" href="index_18.html">
           <i class="fa fa-comment mr-2">
           </i>
           32 comments
          </a>
         </small>
        </div>
       </div>
       <div class="card border rounded">
        <a href="index_18.html">
         <img alt="Card image cap" class="card-img-top" src="img/photo-42.jpg"/>
        </a>
        <div class="card-body pt-4">
         <p class="card-text mb-4 pb-0">
          <small class="text-muted">
           Last updated 3 mins ago
          </small>
         </p>
         <a class="card-link" href="index_18.html">
          <h3 class="card-title font-weight-normal text-dark card-link">
           Letters project
          </h3>
         </a>
         <p class="card-text text-secondary lead mb-4">
          This is a wider card with supporting text below as a natural lorem
         </p>
        </div>
        <div class="card-footer bg-white py-3 border-0">
         <small>
          <a class="card-link my-0 mx-0 px-0 text-secondary" href="index_18.html">
           <i class="fa fa-comment mr-2">
           </i>
           32 comments
          </a>
         </small>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-lg-12 m-auto">
      <div class="card-group">
       <div class="card border rounded">
        <a href="index_18.html">
         <img alt="Card image cap" class="card-img-top" src="img/photo-46.jpg"/>
        </a>
        <div class="card-body pt-4">
         <p class="card-text mb-4 pb-0">
          <small class="text-muted">
           Last updated 3 mins ago
          </small>
         </p>
         <a class="card-link" href="index_18.html">
          <h3 class="card-title font-weight-normal text-dark">
           Cactus project
          </h3>
         </a>
         <p class="card-text text-secondary lead mb-4">
          This is a wider card with supporting text below as a natural lorem
         </p>
        </div>
        <div class="card-footer bg-white py-3 border-0">
         <small>
          <a class="card-link my-0 mx-0 px-0 text-secondary" href="index_18.html">
           <i class="fa fa-comment mr-2">
           </i>
           32 comments
          </a>
         </small>
        </div>
       </div>
       <div class="card mx-5 border rounded">
        <a href="index_18.html">
         <img alt="Card image cap" class="card-img-top" src="img/photo-41.jpg"/>
        </a>
        <div class="card-body pt-4">
         <p class="card-text mb-4 pb-0">
          <small class="text-muted">
           Last updated 3 mins ago
          </small>
         </p>
         <a class="card-link" href="index_18.html">
          <h3 class="card-title font-weight-normal text-dark card-link">
           Ceramics work
          </h3>
         </a>
         <p class="card-text text-secondary lead mb-4">
          This is a wider card with supporting text below as a natural lorem ipsum dolor set amet ipsum dolor
         </p>
        </div>
        <div class="card-footer bg-white py-3 border-0">
         <small>
          <a class="card-link my-0 mx-0 px-0 text-secondary" href="index_18.html">
           <i class="fa fa-comment mr-2">
           </i>
           32 comments
          </a>
         </small>
        </div>
       </div>
       <div class="card border rounded">
        <a href="index_18.html">
         <img alt="Card image cap" class="card-img-top" src="img/photo-48.jpg"/>
        </a>
        <div class="card-body pt-4">
         <p class="card-text mb-4 pb-0">
          <small class="text-muted">
           Last updated 3 mins ago
          </small>
         </p>
         <a class="card-link" href="index_18.html">
          <h3 class="card-title font-weight-normal text-dark card-link">
           Letters project
          </h3>
         </a>
         <p class="card-text text-secondary lead mb-4">
          This is a wider card with supporting text below as a natural lorem
         </p>
        </div>
        <div class="card-footer bg-white py-3 border-0">
         <small>
          <a class="card-link my-0 mx-0 px-0 text-secondary" href="index_18.html">
           <i class="fa fa-comment mr-2">
           </i>
           32 comments
          </a>
         </small>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="row pt-4">
     <div class="col-lg-12 text-center pt-5">
      <nav aria-label="Page navigation example" class="my-5">
       <ul class="pagination justify-content-center">
        <li class="page-item disabled">
         <a class="page-link text-secondary" href="index_18.html" tabindex="-1">
          <i class="fa fa-angle-left mx-1">
          </i>
         </a>
        </li>
        <li class="page-item">
         <a class="page-link text-info active" href="index_18.html">
          1
         </a>
        </li>
        <li class="page-item">
         <a class="page-link text-info" href="index_18.html">
          2
         </a>
        </li>
        <li class="page-item">
         <a class="page-link text-info" href="index_18.html">
          3
         </a>
        </li>
        <li class="page-item">
         <a class="page-link text-info" href="index_18.html">
          <i class="fa fa-angle-right mx-1">
          </i>
         </a>
        </li>
       </ul>
      </nav>
     </div>
    </div>
   </div>
  </div>
  <hr class="mt-5"/>
  <div class="py-3" id="footer-2">
   <div class="container">
    <div class="row align-items-center">
     <div class="col-lg-3 py-3 text-center text-lg-left">
      <p class="text-secondary m-0">
       © 2017 — 2018, Replacer
      </p>
     </div>
     <div class="col-lg-6 py-3 text-center">
      <ul class="list-inline m-0">
       <li class="list-inline-item">
        <a class="px-2 text-secondary" href="index_18.html">
         About us
        </a>
       </li>
       <li class="list-inline-item">
        <a class="px-2 text-secondary" href="index_18.html">
         Portfolio
        </a>
       </li>
       <li class="list-inline-item">
        <a class="px-2 text-secondary" href="index_18.html">
         Features
        </a>
       </li>
      </ul>
     </div>
     <div class="col-lg-3 py-3 text-center text-lg-right">
      <ul class="list-inline m-0">
       <li class="list-inline-item">
        <a class="btn-link btn-lg text-secondary px-1" href="index_18.html">
         <i class="fa fa-twitter">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a class="btn-link btn-lg text-secondary px-1" href="index_18.html">
         <i class="fa fa-facebook-official">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a class="btn-link btn-lg text-secondary px-1" href="index_18.html">
         <i class="fa fa-dribbble">
         </i>
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <script src="js/jquery-3.3.1.slim.min.js">
  </script>
  <script src="js/popper.min.js">
  </script>
  <script src="js/bootstrap.min.js">
  </script>
  <script src="js/replacer.js">
  </script>
 </body>
</html>