<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <meta content="text/html;charset=utf-8" http-equiv="content-type"/>
  <title>
   Replacer
  </title>
  <meta content="Replacer theme" name="description"/>
  <link href="css/css" rel="stylesheet"/>
  <link href="css/bootstrap.css" rel="stylesheet"/>
  <link href="css/replacer.css" rel="stylesheet"/>
  <link href="css/font-awesome.css" rel="stylesheet"/>
  <script src="js/webfont.js">
  </script>
  <script>
   WebFont.load({
                google: {
                    families: ['Ranga', 'Julius Sans One', 'Montserrat']
                }
            });
  </script>
 </head>
 <body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light">
   <a class="navbar-brand p-0" href="index_0.html" target="_blank">
    <span>
    </span>
   </a>
   <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon">
    </span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
     <li class="nav-item mx-1">
      <a class="nav-link" href="index_0.html">
       Home
      </a>
     </li>
     <li class="nav-item mx-1 dropdown active">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="index_6.html" id="templates-dropdown" role="button">
       Templates
      </a>
      <div aria-labelledby="templates-dropdown" class="dropdown-menu">
       <a class="dropdown-item" href="index_2.html">
        First
       </a>
       <a class="dropdown-item" href="index_3.html">
        Second
       </a>
       <a class="dropdown-item" href="index_4.html">
        Third
       </a>
       <a class="dropdown-item" href="index_5.html">
        Fourth
       </a>
       <a class="dropdown-item" href="index_6.html">
        Fifth
       </a>
       <a class="dropdown-item" href="index_7.html">
        Sixth
       </a>
       <a class="dropdown-item" href="index_8.html">
        Seventh
       </a>
       <a class="dropdown-item" href="index_9.html">
        Eighth
       </a>
       <a class="dropdown-item" href="index_10.html">
        Ninth
       </a>
      </div>
     </li>
     <li class="nav-item mx-1 dropdown">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="index_6.html" id="pages-dropdown" role="button">
       Pages
      </a>
      <div aria-labelledby="pages-dropdown" class="dropdown-menu">
       <a class="dropdown-item" href="index_11.html">
        About
       </a>
       <a class="dropdown-item" href="index_12.html">
        Features
       </a>
       <a class="dropdown-item" href="index_13.html">
        FAQ
       </a>
       <a class="dropdown-item" href="index_14.html">
        Login
       </a>
       <a class="dropdown-item" href="index_15.html">
        Register
       </a>
       <a class="dropdown-item" href="index_16.html">
        404
       </a>
       <a class="dropdown-item" href="index_17.html">
        Coming soon
       </a>
       <a class="dropdown-item" href="index_18.html">
        Blog
       </a>
       <a class="dropdown-item" href="index_19.html">
        Blog entry
       </a>
      </div>
     </li>
     <li class="nav-item mx-1">
      <a class="nav-link" href="index_1.html">
       Icons
      </a>
     </li>
     <li class="nav-item mx-1">
      <a class="nav-link" href="documentation.html">
       Documentation
      </a>
     </li>
     <li class="nav-item ml-1 mr-3">
      <a class="nav-link" href="mailto:hello@getreplacer.com">
       Support
      </a>
     </li>
     <li class="nav-item">
      <a class="btn mr-2 btn-dark" href="https://themes.getbootstrap.com/product/replacer-2/" id="buy-button">
       Purchase
      </a>
     </li>
    </ul>
   </div>
  </nav>
  <div id="hero-05" style="background: #D3F0E7;">
   <div class="container d-flex flex-column" style="min-height: 105vh;">
    <div class="row mt-auto py-5 mt-5">
     <div class="col text-center py-5 mt-5">
      <p class="text-secondary mt-5">
       REPLACER
      </p>
      <h1 class="display-4 pb-3" style="font-family: 'Montserrat', sans-serif;">
       Clean and simple theme built on vanilla Bootstrap 4
      </h1>
      <p class="lead p-0 mb-5">
       Replacer is suitable for all kind of modern web projects: landing and product pages
      </p>
      <a class="btn btn-lg mx-1 btn-outline-dark" href="index_6.html">
       Learn more
      </a>
     </div>
    </div>
    <div class="row mt-auto">
     <div class="col-lg-10 mx-auto text-center">
      <img class="w-100" src="img/device-03.png"/>
     </div>
    </div>
   </div>
  </div>
  <div id="post-hero-01">
   <div class="container">
    <div class="row py-3 text-center">
     <div class="col mx-auto">
      <span class="badge badge-pill badge-dark mr-3">
       Discount
      </span>
      <span class="text-secondary">
       Hello world! Replacer is a library of 9 amazing HTML templates
       <a class="btn-link ml-3 text-secondary" href="index_6.html">
        <u>
        </u>
        Learn more
        <i class="fa fa-angle-right ml-2">
        </i>
       </a>
      </span>
     </div>
    </div>
   </div>
  </div>
  <div class="container">
   <hr class="m-0"/>
  </div>
  <div class="py-5" id="content-08">
   <div class="container py-5">
    <div class="row pb-5 mt-5 mb-4">
     <div class="col-lg-4 col-md-8 col-sm-12 text-center my-4 mx-auto">
      <h3 class="display-3 mb-3">
       254
      </h3>
      <p class="text-secondary lead">
       Clients
      </p>
      <p class="text-secondary px-4">
       Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins
      </p>
     </div>
     <div class="col-lg-4 col-md-8 col-sm-12 text-center my-4 mx-auto">
      <h3 class="display-3 mb-3">
       2018
      </h3>
      <p class="text-secondary lead">
       Year of release
      </p>
      <p class="text-secondary px-4">
       Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce
      </p>
     </div>
     <div class="col-lg-4 col-md-8 col-sm-12 text-center my-4 mx-auto">
      <h3 class="display-3 mb-3">
       34,8
      </h3>
      <p class="text-secondary lead">
       Degree
      </p>
      <p class="text-secondary px-4">
       Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape
      </p>
     </div>
    </div>
   </div>
  </div>
  <div id="features-03">
   <div class="container-fluid">
    <div class="row" style="min-height: 100vh;">
     <div class="col-lg-4 col-md-8 col-sm-12 py-5 m-auto text-left">
      <img class="mb-4" height="48px" src="img/interface-62.svg"/>
      <h2 class="display-4 mb-3">
       Killer feature
      </h2>
      <p class="mb-4 lead mr-5 text-secondary">
       Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns
      </p>
      <hr class="my-5"/>
      <a class="btn-link text-secondary" href="index_6.html">
       <i class="fa fa-cloud mr-2">
       </i>
       Connect
      </a>
     </div>
     <div class="col-lg-6 col-md-12" style="background: url('img/photo-39.jpg') center center no-repeat; background-size: cover; min-height: 100vh;">
     </div>
    </div>
   </div>
  </div>
  <div class="py-5 my-5" id="features-05">
   <div class="container py-5">
    <div class="row">
     <div class="col-lg-5 col-md-6 col-sm-12 text-center mx-auto py-5 border-light">
      <span class="display-2">
       <i class="fa fa-dropbox text-secondary mb-4">
       </i>
      </span>
      <h2 class="display-4 mb-4">
       Dropbox
      </h2>
      <p class="text-secondary lead mb-4 mx-4">
       Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites campaigns
      </p>
      <a class="btn text-secondary" href="index_6.html" role="button">
       <i class="fa fa-dropbox mr-2">
       </i>
       Connect
      </a>
     </div>
     <div class="col-lg-5 col-md-6 col-sm-12 text-center mx-auto py-5">
      <span class="display-2">
       <i class="fa fa-snapchat-ghost text-secondary mb-4">
       </i>
      </span>
      <h2 class="display-4 mb-4">
       Snapchat
      </h2>
      <p class="text-secondary lead mb-4 mx-4">
       Use Replacer as a starting point in your next project or choose predesigned elements to customize and figures's shape
      </p>
      <a class="btn text-secondary" href="index_6.html" role="button">
       <i class="fa fa-snapchat-ghost mr-2">
       </i>
       Connect
      </a>
     </div>
    </div>
   </div>
  </div>
  <div class="pt-5 bg-light" id="gallery-1">
   <div class="container py-5 mt-5">
    <div class="row mb-3">
     <div class="col-lg-8 mx-auto text-center mb-5">
      <h2 class="display-4 mb-4 text-dark">
       Check out key features
      </h2>
      <p class="lead mb-0 pb-0 text-secondary">
       To spread the power of good design
      </p>
      <img alt="2" class="w-100 my-5" src="img/device-01.png"/>
      <a class="btn btn-warning btn-lg mr-2" href="index_6.html">
       Connect now
      </a>
      <a class="btn btn-secondary btn-lg" href="index_6.html">
       About us
      </a>
     </div>
    </div>
   </div>
  </div>
  <hr class="m-0"/>
  <div class="pb-2 bg-light" id="footer-04">
   <div class="container pb-3">
    <div class="row">
     <div class="col">
      <hr class="border-light mb-3" style="opacity: .1;"/>
     </div>
    </div>
    <div class="row">
     <div class="col-md-12 col-lg-6 text-center text-lg-left py-2">
      <p class="text-secondary">
       © 2017 — 2018, Replacer
      </p>
     </div>
     <div class="col-md-12 col-lg-6 text-center text-lg-right py-2">
      <ul class="list-inline m-0">
       <li class="list-inline-item">
        <a class="btn-link btn-lg text-secondary p-1" href="index_6.html">
         <i class="fa fa-twitter">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a class="btn-link btn-lg text-secondary p-1" href="index_6.html">
         <i class="fa fa-facebook-official">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a class="btn-link btn-lg text-secondary p-1" href="index_6.html">
         <i class="fa fa-dribbble">
         </i>
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <script src="js/jquery-3.3.1.slim.min.js">
  </script>
  <script src="js/popper.min.js">
  </script>
  <script src="js/bootstrap.min.js">
  </script>
  <script src="js/replacer.js">
  </script>
 </body>
</html>