<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <meta content="text/html;charset=utf-8" http-equiv="content-type"/>
  <title>
   Replacer
  </title>
  <meta content="Replacer theme" name="description"/>
  <link href="css/css" rel="stylesheet"/>
  <link href="css/bootstrap.css" rel="stylesheet"/>
  <link href="css/replacer.css" rel="stylesheet"/>
  <link href="css/font-awesome.css" rel="stylesheet"/>
  <script src="js/webfont.js">
  </script>
  <script>
   WebFont.load({
                google: {
                    families: ['Ranga', 'Julius Sans One', 'Montserrat']
                }
            });
  </script>
 </head>
 <body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light">
   <a class="navbar-brand p-0" href="index_0.html" target="_blank">
    <span>
    </span>
   </a>
   <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon">
    </span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
     <li class="nav-item mx-1">
      <a class="nav-link" href="index_0.html">
       Home
      </a>
     </li>
     <li class="nav-item mx-1 dropdown">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="index_13.html" id="templates-dropdown" role="button">
       Templates
      </a>
      <div aria-labelledby="templates-dropdown" class="dropdown-menu">
       <a class="dropdown-item" href="index_2.html">
        First
       </a>
       <a class="dropdown-item" href="index_3.html">
        Second
       </a>
       <a class="dropdown-item" href="index_4.html">
        Third
       </a>
       <a class="dropdown-item" href="index_5.html">
        Fourth
       </a>
       <a class="dropdown-item" href="index_6.html">
        Fifth
       </a>
       <a class="dropdown-item" href="index_7.html">
        Sixth
       </a>
       <a class="dropdown-item" href="index_8.html">
        Seventh
       </a>
       <a class="dropdown-item" href="index_9.html">
        Eighth
       </a>
       <a class="dropdown-item" href="index_10.html">
        Ninth
       </a>
      </div>
     </li>
     <li class="nav-item mx-1 dropdown active">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="index_13.html" id="pages-dropdown" role="button">
       Pages
      </a>
      <div aria-labelledby="pages-dropdown" class="dropdown-menu">
       <a class="dropdown-item" href="index_11.html">
        About
       </a>
       <a class="dropdown-item" href="index_12.html">
        Features
       </a>
       <a class="dropdown-item" href="index_13.html">
        FAQ
       </a>
       <a class="dropdown-item" href="index_14.html">
        Login
       </a>
       <a class="dropdown-item" href="index_15.html">
        Register
       </a>
       <a class="dropdown-item" href="index_16.html">
        404
       </a>
       <a class="dropdown-item" href="index_17.html">
        Coming soon
       </a>
       <a class="dropdown-item" href="index_18.html">
        Blog
       </a>
       <a class="dropdown-item" href="index_19.html">
        Blog entry
       </a>
      </div>
     </li>
     <li class="nav-item mx-1">
      <a class="nav-link" href="index_1.html">
       Icons
      </a>
     </li>
     <li class="nav-item mx-1">
      <a class="nav-link" href="documentation.html">
       Documentation
      </a>
     </li>
     <li class="nav-item ml-1 mr-3">
      <a class="nav-link" href="mailto:hello@getreplacer.com">
       Support
      </a>
     </li>
     <li class="nav-item">
      <a class="btn mr-2 btn-warning" href="https://themes.getbootstrap.com/product/replacer-2/" id="buy-button">
       Purchase
      </a>
     </li>
    </ul>
   </div>
  </nav>
  <div class="bg-warning1 pt-3 bg-light" id="inner-2">
   <div class="container d-flex flex-column pt-5">
    <div class="row my-auto my-5 pt-5 pb-4">
     <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
      <h1 class="mb-2 font-weight-bold">
       Questions
      </h1>
      <p class="lead text-secondary">
       To spread the power of good design
      </p>
     </div>
    </div>
   </div>
  </div>
  <div class="pt-5 pb-5 mb-2" id="content-14">
   <div class="container pt-3">
    <div class="row">
     <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
      <h2 class="display-4 mb-2">
       Product
      </h2>
      <hr class="mt-3 mb-4"/>
      <div class="mb-4" id="faq-collapse-1">
       <h5>
        <a aria-controls="collapse-1" aria-expanded="true" class="text-dark" data-toggle="collapse" href="index_13.html">
         How do I edit a page?
        </a>
       </h5>
       <p class="collapse m-3 p-0 mr-5 show" id="collapse-1">
        Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will.
       </p>
      </div>
      <div class="mb-4" id="faq-collapse-2">
       <h5>
        <a aria-controls="collapse-2" aria-expanded="true" class="text-dark" data-toggle="collapse" href="index_13.html">
         Why was my article deleted?
        </a>
       </h5>
       <p class="collapse m-3 p-0 mr-5" id="collapse-2">
        Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will.
       </p>
      </div>
      <div class="mb-4" id="faq-collapse-3">
       <h5>
        <a aria-controls="collapse-3" aria-expanded="true" class="text-dark" data-toggle="collapse" href="index_13.html">
         How do I change the name of an article?
        </a>
       </h5>
       <p class="collapse m-3 p-0 mr-5" id="collapse-3">
        Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will.
       </p>
      </div>
      <div class="mb-4" id="faq-collapse-4">
       <h5>
        <a aria-controls="collapse-4" aria-expanded="true" class="text-dark" data-toggle="collapse" href="index_13.html">
         How do I delete my account?
        </a>
       </h5>
       <p class="collapse m-3 p-0 mr-5" id="collapse-4">
        Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will.
       </p>
      </div>
      <h2 class="display-4 mb-2 mt-5">
       Sales
      </h2>
      <hr class="mt-3 mb-4"/>
      <div class="mb-4" id="faq-collapse-5">
       <h5>
        <a aria-controls="collapse-5" aria-expanded="true" class="text-dark" data-toggle="collapse" href="index_13.html">
         Who writes the articles on Wikipedia?
        </a>
       </h5>
       <p class="collapse m-3 p-0 mr-5" id="collapse-5">
        Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will.
       </p>
      </div>
      <div class="mb-4" id="faq-collapse-6">
       <h5>
        <a aria-controls="collapse-6" aria-expanded="true" class="text-dark" data-toggle="collapse" href="index_13.html">
         Who owns Wikipedia?
        </a>
       </h5>
       <p class="collapse m-3 p-0 mr-5" id="collapse-6">
        Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will.
       </p>
      </div>
      <div class="mb-4" id="faq-collapse-7">
       <h5>
        <a aria-controls="collapse-7" aria-expanded="true" class="text-dark" data-toggle="collapse" href="index_13.html">
         Why am I having trouble logging in?
        </a>
       </h5>
       <p class="collapse m-3 p-0 mr-5" id="collapse-7">
        Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will.
       </p>
      </div>
      <div class="mb-4" id="faq-collapse-8">
       <h5>
        <a aria-controls="collapse-8" aria-expanded="true" class="text-dark" data-toggle="collapse" href="index_13.html">
         How can I contact Wikipedia?
        </a>
       </h5>
       <p class="collapse m-3 p-0 mr-5" id="collapse-8">
        Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will.
       </p>
      </div>
      <div class="mb-4" id="faq-collapse-9">
       <h5>
        <a aria-controls="collapse-9" aria-expanded="true" class="text-dark" data-toggle="collapse" href="index_13.html">
         How do I delete my account?
        </a>
       </h5>
       <p class="collapse m-3 p-0 mr-5" id="collapse-9">
        Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will.
       </p>
      </div>
      <div class="mb-4" id="faq-collapse-10">
       <h5>
        <a aria-controls="collapse-10" aria-expanded="true" class="text-dark" data-toggle="collapse" href="index_13.html">
         Who writes the articles on Wikipedia?
        </a>
       </h5>
       <p class="collapse m-3 p-0 mr-5" id="collapse-10">
        Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins making it super easy to create and customize your own working websites in minutes. Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns. Use Replacer as a starting point in your next project or choose predesigned elements to customize and shape it at your own will.
       </p>
      </div>
     </div>
    </div>
   </div>
  </div>
  <hr class="mt-5"/>
  <div class="py-3" id="footer-2">
   <div class="container">
    <div class="row align-items-center">
     <div class="col-lg-3 py-3 text-center text-lg-left">
      <p class="text-secondary m-0">
       © 2017 — 2018, Replacer
      </p>
     </div>
     <div class="col-lg-6 py-3 text-center">
      <ul class="list-inline m-0">
       <li class="list-inline-item">
        <a class="px-2 text-secondary" href="index_13.html">
         About us
        </a>
       </li>
       <li class="list-inline-item">
        <a class="px-2 text-secondary" href="index_13.html">
         Portfolio
        </a>
       </li>
       <li class="list-inline-item">
        <a class="px-2 text-secondary" href="index_13.html">
         Features
        </a>
       </li>
      </ul>
     </div>
     <div class="col-lg-3 py-3 text-center text-lg-right">
      <ul class="list-inline m-0">
       <li class="list-inline-item">
        <a class="btn-link btn-lg text-secondary px-1" href="index_13.html">
         <i class="fa fa-twitter">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a class="btn-link btn-lg text-secondary px-1" href="index_13.html">
         <i class="fa fa-facebook-official">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a class="btn-link btn-lg text-secondary px-1" href="index_13.html">
         <i class="fa fa-dribbble">
         </i>
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <script src="js/jquery-3.3.1.slim.min.js">
  </script>
  <script src="js/popper.min.js">
  </script>
  <script src="js/bootstrap.min.js">
  </script>
  <script src="js/replacer.js">
  </script>
 </body>
</html>