{% load i18n %}
{% load mytags %}

<div class="default-select" id="default-select">
    <div class="nice-select" tabindex="0">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_language_info for LANGUAGE_CODE as lang %}
        <img class="niceCountryInputMenuCountryFlag"
             src="{% cache_get LANGUAGE_CODE %}"/>
        <span>{{ lang.name_local }} </span>
        <ul class="list">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <li class="option {% if language.code == LANGUAGE_CODE %}selected focus{% endif %}">
                    {% language language.code %}
                        {% with args=request.resolver_match.kwargs %}
                            {% if args|length <= 0 %}
                                <a href="{% url ''|add:request.resolver_match.view_name %}">
                                    <img class="niceCountryInputMenuCountryFlag"
                                         src="{% cache_get language.code %}"/>
                                    <span>{{ language.name_local }} ({{ language.code }})</span>
                                </a>
                            {% else %}
                                <a href="{% url ''|add:request.resolver_match.view_name args %}">
                                    <img class="niceCountryInputMenuCountryFlag"
                                         src="{% cache_get language.code %}"/>
                                    <span>{{ language.name_local }} ({{ language.code }})</span>
                                </a>
                            {% endif %}

                        {% endwith %}
                    {% endlanguage %}

                </li>
            {% endfor %}
        </ul>
    </div>
</div>
