{% extends "_model_layout.html" %}
{% load static %}
{% load i18n %}
{% block craw_title %}
    {% trans '精准模版抓取' %}
{% endblock %}

{% block seo %}
    <!-- Meta Description -->
    <meta content="{% trans '精准网页模板制作：输入url把网页变成模板，静态资源下载到本地' %}" name="description"/>
    <!-- Meta Keyword -->
    <meta content="{% trans '精准网页模板制作，网页变模板,网站复制' %}" name="keywords"/>
{% endblock %}

{% block submit_url %}
    {% url 'accurate_task' %}
{% endblock %}

{% block craw_configuration %}
    <div class="mt-20 row">
        <div class="col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label class="ml-20" for="is_grab_out_resource">{% trans '抓取引用的资源' %}</label>
            <div class="confirm-switch">
                <input name="is_grab_out_link" type="checkbox" id="is_grab_out_resource" disabled checked>
                <label for="is_grab_out_resource"></label>
            </div>
        </div>
        <div class="pl-10 col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label class="ml-20"  for="is_ref_resource">{% trans '引用模式' %}</label>
            <div class="confirm-switch">
                <input name="is_ref_model" type="checkbox" id="is_ref_resource" disabled>
                <label for="is_ref_resource"></label>
            </div>
        </div>
        <div class="pl-10 col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label  class="ml-20" for="is_full_site">{% trans '是否抓全站' %}</label>
            <div class="confirm-switch">
                <input name="is_full_site" type="checkbox" id="is_full_site" disabled>
                <label for="is_full_site"></label>
            </div>
        </div>
        <div class="pl-10 col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label class="ml-20"  for="is_email_template">{% trans '是否压缩为Email模版' %}</label>
            <div class="confirm-switch">
                <input name="is_to_single_page" type="checkbox" id="is_email_template" disabled>
                <label for="is_email_template"></label>
            </div>
        </div>
    </div>
{% endblock %}
