{% extends "_model_layout.html" %}
{% load static %}
{% load i18n %}


{% block craw_title %}
    {% trans 'Email模版' %}
{% endblock %}

{% block seo %}
    <!-- Meta Description -->
    <meta content="{% trans '，服务会直接把页面包含的图片，css,js，字体文件压缩在一个html页面内。这样在用户收到您的邮件时候不至于会被屏蔽图片等，格式更加精美。' %}" name="description"/>
    <!-- Meta Keyword -->
    <meta content="{% trans '网页模板制作,电子邮件模板,单页模板' %}" name="keywords"/>
{% endblock %}

{% block submit_url %}
    {% url 'email_task' %}
{% endblock %}

{% block urls_input_area %}
    <div class="mt-10">
        <input name="seeds" class="single-input-primary" type="text" placeholder="一个URL"
               onfocus="this.placeholder = ''"
               onblur="this.placeholder = '一个URL'" required="required"/>
    </div>
{% endblock %}

{% block craw_configuration %}
    <div class="mt-20 row">
        <div class="col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label class="ml-20" for="is_grab_out_resource">{% trans '抓取引用的资源' %}</label>
            <div class="confirm-switch">
                <input name="is_grab_out_link" type="checkbox" id="is_grab_out_resource" disabled checked>
                <label for="is_grab_out_resource"></label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label class="ml-20" for="is_ref_resource">{% trans '引用模式' %}</label>
            <div class="confirm-switch">
                <input name="is_ref_model" type="checkbox" id="is_ref_resource" disabled>
                <label for="is_ref_resource"></label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label class="ml-20" for="is_full_site">{% trans '是否抓全站' %}</label>
            <div class="confirm-switch">
                <input name="is_full_site" type="checkbox" id="is_full_site" disabled>
                <label for="is_full_site"></label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label class="ml-20" for="is_email_template">{% trans '是否压缩为Email模版' %}</label>
            <div class="confirm-switch">
                <input name="is_to_single_page" type="checkbox" id="is_email_template" disabled checked>
                <label for="is_email_template"></label>
            </div>
        </div>
    </div>
{% endblock %}
