{% extends "_model_layout.html" %}
{% load static %}
{% load i18n %}

{% block craw_title %}
    {% trans '全站模版' %}
{% endblock %}

{% block seo %}
    <!-- Meta Description -->
    <meta content="{% trans '您只需要输入一个URL，那么这个URL以及这个URL层级以下的html都会被制作成模版。图片，css,js您可以选择下载或者使用网络位置进行引用。' %}" name="description"/>
    <!-- Meta Keyword -->
    <meta content="{% trans '网页模板制作,全站模板,网站复制' %}" name="keywords"/>
{% endblock %}

{% block submit_url %}
    {% url 'fullsite_task' %}
{% endblock %}

{% block craw_configuration %}
    <div class="mt-20 row">
        <div class="col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label class="ml-20" for="is_grab_out_resource"><b>{% trans '抓取引用的资源' %}</b></label>
            <div class="confirm-switch">
                <input name="is_grab_out_link" type="checkbox" id="is_grab_out_resource">
                <label for="is_grab_out_resource"></label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label class="ml-20" for="is_ref_resource"><b>{% trans '引用模式' %}</b></label>
            <div class="confirm-switch">
                <input name="is_ref_model" type="checkbox" id="is_ref_resource" checked>
                <label for="is_ref_resource"></label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label class="ml-20" for="is_full_site">{% trans '是否抓全站' %}</label>
            <div class="confirm-switch">
                <input name="is_full_site" type="checkbox" id="is_full_site" disabled checked>
                <label for="is_full_site"></label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label class="ml-20" for="is_email_template">{% trans '是否压缩为Email模版' %}</label>

            <div class="confirm-switch">
                <input name="is_to_single_page" type="checkbox" id="is_email_template" disabled>
                <label for="is_email_template"></label>
            </div>
        </div>
    </div>

{% endblock %}