<!DOCTYPE HTML>
<html>
 <head>
  <title>
   template is ready! download it.
  </title>
     {% load static %}
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="{% static 'css/download-main.css' %}"  rel="stylesheet"/>
 </head>
 <body>
  <!-- Header -->
  <header id="header">
   <a class="logo" href="/">
    web template spider
   </a>

  </header>

  <section id="banner">
   <div class="content">
    <h1>
     Ipsum sed lorem
    </h1>
    <p>
     Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod
     <br/>
     sed arcu cras consecuat lorem ipsum dolor sit amet.
    </p>
    <ul class="actions">
     <li>

         <a class="button scrolly"  href="http://template-spider.com/download-web-template/{{ template_id }}">download it</a>
     </li>
    </ul>
   </div>
  </section>
  <!-- One -->
  
  <!-- Footer -->
  <footer id="footer">
   <div class="inner">
    <h2>
     Get In Touch
    </h2>
    <ul class="actions">

     <li>
      <span class="icon fa-envelope">
      </span>
      <a href="index_0.html">
       information@untitled.tld
      </a>
     </li>
     <!-- <li>
      <span class="icon fa-map-marker">
      </span>
      123 Somewhere Road, Nashville, TN 00000
     </li> -->
    </ul>
   </div>
   <div class="copyright">
    © Untitled. Design
    <a href="https://templated.co">
     TEMPLATED
    </a>
    . Images
    <a href="https://unsplash.com">
     Unsplash
    </a>
    .
   </div>
  </footer>
  <!-- Scripts -->

 </body>
</html>