{% extends "_layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans '帮助文档' %}{% endblock %}

{% block seo %}
    <!-- Meta Description -->
    <meta content="{% trans '帮助手册，查看快速制作精美模板，节省您的建站时间' %}" name="description"/>
    <!-- Meta Keyword -->
    <meta content="{% trans '模板制作在线帮助' %}" name="keywords"/>
{% endblock %}

{% block content %}
    <!--================Home Banner Area =================-->
    <section class="banner_area ">
        <div class="banner_inner overlay d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-left">
                    <div class="page_link">
                        <a href="{% url 'index' %}">
                            {% trans '主页' %}
                        </a>
                        <a href="{% url 'help' %}">
                            {% trans '帮助' %}
                        </a>

                    </div>
                    <h2>
                        {% trans '帮助手册' %}
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img alt="" class="img-fluid" src="{% static 'img/feature-img1.jpg' %}"/>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">

                                    <a href="#">
                                        {% trans '网站模版' %}
                                    </a>
                                    <a href="#">
                                        {% trans '自适应' %}
                                    </a>
                                    <a href="#">
                                        {% trans '邮件模版' %}
                                    </a>
                                    <a href="#">
                                        {% trans '免费模版' %}
                                    </a>
                                    <a href="#">
                                        {% trans '网站模版' %}
                                    </a>
                                </div>
                                <ul class="blog_meta list">
                                    <li>
                                        <a href="#">
                                            Mark wiens
                                            <i class="lnr lnr-user">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            12 Dec, 2017
                                            <i class="lnr lnr-calendar-full">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            1.2M Views
                                            <i class="lnr lnr-eye">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            06 Comments
                                            <i class="lnr lnr-bubble">
                                            </i>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <h2>
                                {% trans '我们让制作网站模版从未如此快速' %}
                            </h2>
                            <p class="excert">

                                {% trans '有没有想过，全球上千万个网站，是百万设计师花费时间精心设计才展现在你眼前的。太阳底下没有新鲜事，如果你有一个需求，那么借鉴和复用是最快的实现方法。为此' %}
                                <a
                                        href="{% url 'index' %}">template-spider.com</a>
                                {% trans '专门设计了变网页为网站模版的工具。' %}

                            </p>
                            <p>
                                {% trans '我们为4种常见场景设计了不同的模版生成方法：' %}
                            <ul>

                                <li><b>{% trans '精准抓取' %}</b>&nbsp;&nbsp;{% trans '在使用精准模版抓取的时候，' %}
                                    <a href="{% url 'accurate_template' %}">{% trans '精准模版抓取' %}</a>
                                    {% trans '服务只会抓您提供的URL，以及和URL相关的图片，css,js，字体文件等。这些资源被抓取到本地并放入到不同的文件夹下进行归类。' %}</li>
                                <li><b>{% trans '全站模版' %}</b>&nbsp;&nbsp;{% trans '对于' %}<a
                                        href="{% url 'fullsite_template' %}">{% trans '全站模版' %}</a>
                                    {% trans '来说您只需要输入一个URL，那么这个URL以及这个URL层级以下的html都会被制作成模版。图片，css,js您可以选择下载或者使用网络位置进行引用。' %}</li>
                                <li><b>{% trans '电邮模版' %}</b>&nbsp;&nbsp;{% trans '对于' %}<a
                                        href="{% url 'email_template' %}">{% trans '电子邮件模版' %}</a>
                                    {% trans '，服务会直接把页面包含的图片，css,js，字体文件压缩在一个html页面内。这样在用户收到您的邮件时候不至于会被屏蔽图片等，格式更加精美。' %}</li>
                                <li><b>{% trans '引用模版' %}</b>&nbsp;&nbsp;{% trans '如果您的服务器带宽较小，您可以使用' %}<a
                                        href="{% url 'ref_template' %}">{% trans '引用模式。' %}</a>
                                    {% trans '引用模式会把css,js，字体文件等使用网络地址，这样您不需要花费额外的带宽费用。' %}</li>

                            </ul>
                            </p>
                            <p>

                                <a href="{% url 'index' %}">template-spider.com</a>
                                {% trans '提供的远不止如此。一般的模版网站提供的模版需要程序员画大量精力针对自己所使用的web开发框架进行修改，浪费时间。我们提供的模版生成工具可以直接自动把模版转化为你需要支持的web框架格式。例如django，cakePHP等。' %}


                            </p>
                        </div>
                        <div class="col-lg-12">
                            <div class="quotes">
                                {% trans '使用方法很简单，根据您的需求选择哪种模版抓取方式。然后输入您看中的网站的URL、和电子邮件。然后稍等5分钟，我们会把结果发送到您的Email。' %}
                                <br>
                                {% trans '填写email的目的是因为模版的抓取会排队（有许多其他的人也在使用这个服务）和消耗几分钟时间，在次期间您可以关闭网页离开网站。您可以在 ' %}
                                <a href="{% url 'status' %}">{% trans '任务状态' %}</a>{% trans '页面看到当前排队的模版抓取任务数量和您的排号。' %}

                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <img alt="" class="img-fluid" src="{% static 'img/post-img1.jpg' %}"/>
                                </div>
                                <div class="col-6">
                                    <img alt="" class="img-fluid" src="{% static 'img/post-img2.jpg' %}"/>
                                </div>
                                <div class="col-lg-12 mt-25">
                                    <p>
                                        {% trans 'HTML技术处于飞速发展中，我们的服务会存在各种未知的BUG。' %}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comments-area">
                        <h4>
                            {% trans '评论区' %}
                        </h4>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img alt="" src="{% static 'img/c1.jpg' %}"/>
                                    </div>
                                    <div class="desc">
                                        <h5>
                                            <a href="#">
                                                Emilly Blunt
                                            </a>
                                        </h5>
                                        <p class="date">
                                            December 4, 2017 at 3:12 pm
                                        </p>
                                        <p class="comment">

                                            {% trans '非常棒的免费模版，输入URL我就得到了模版素材。' %}
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a class="btn-reply text-uppercase" href="">
                                        reply
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="comment-list left-padding">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img alt="" src="{% static 'img/c3.jpg' %}"/>
                                    </div>
                                    <div class="desc">
                                        <h5>
                                            <a href="#">
                                                Annie Stephens
                                            </a>
                                        </h5>
                                        <p class="date">
                                            December 4, 2017 at 3:12 pm
                                        </p>
                                        <p class="comment">

                                            {% trans '自动把css,js,集中到了一个模版中，这样我发送email时候可以在邮箱里显示了，最棒的是图片也被压缩为base64!真的厉害。' %}
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a class="btn-reply text-uppercase" href="">
                                        reply
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img alt="" src="{% static 'img/c4.jpg' %}"/>
                                    </div>
                                    <div class="desc">
                                        <h5>
                                            <a href="#">
                                                Maria Luna
                                            </a>
                                        </h5>
                                        <p class="date">
                                            December 4, 2017 at 3:12 pm
                                        </p>
                                        <p class="comment">

                                            {% trans '图片，js, css被放入在不同目录里，井井有条，稍加修改就可以使用了。完全免费。' %}
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a class="btn-reply text-uppercase" href="">
                                        reply
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img alt="" src="{% static 'img/c5.jpg' %}"/>
                                    </div>
                                    <div class="desc">
                                        <h5>
                                            <a href="#">
                                                Ina Hayes
                                            </a>
                                        </h5>
                                        <p class="date">
                                            December 4, 2017 at 3:12 pm
                                        </p>
                                        <p class="comment">
                                            {% trans '模版可以被转换为支持django, symfony, cakephp等模版，这个简直是独创。' %}
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a class="btn-reply text-uppercase" href="">
                                        reply
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-form">
                        <h4>
                            {% trans '留言' %}
                        </h4>
                        <form>
                            <div class="form-group form-inline">
                                <div class="form-group col-lg-6 col-md-6 name">
                                    <input disabled class="form-control" id="name"
                                           onblur="this.placeholder = 'Enter Name'"
                                           onfocus="this.placeholder = ''" placeholder="Enter Name" type="text"/>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 email">
                                    <input disabled class="form-control" id="email"
                                           onblur="this.placeholder = 'Enter email address'"
                                           onfocus="this.placeholder = ''" placeholder="Enter email address"
                                           type="email"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <input disabled class="form-control" id="subject" onblur="this.placeholder = 'Subject'"
                                       onfocus="this.placeholder = ''" placeholder="Subject" type="text"/>
                            </div>
                            <div class="form-group">
                                <textarea disabled class="form-control mb-10" name="message"
                                          onblur="this.placeholder = 'Messege'" onfocus="this.placeholder = ''"
                                          placeholder="Messege" required="" rows="5"></textarea>
                            </div>
                            <a disabled class="primary-btn submit_btn" href="#">
                                Post Comment
                            </a>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">

                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#">
                                <img alt="" class="img-fluid" src="{% static 'img/add.jpg' %}"/>
                            </a>
                            <div class="br">
                            </div>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock %}