{% extends "_layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}帮助文档{% endblock %}
{% block content %}
    <!--================Home Banner Area =================-->
    <section class="banner_area ">
        <div class="banner_inner overlay d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-left">
                    <div class="page_link">
                        <a href="{% url 'index' %}">
                            主页
                        </a>
                        <a href="{% url 'help' %}">
                            帮助
                        </a>

                    </div>
                    <h2>
                        帮助手册
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img alt="" class="img-fluid" src="{% static 'img/feature-img1.jpg' %}"/>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a href="#">
                                        Food,
                                    </a>
                                    <a class="active" href="#">
                                        Technology,
                                    </a>
                                    <a href="#">
                                        Politics,
                                    </a>
                                    <a href="#">
                                        Lifestyle
                                    </a>
                                </div>
                                <ul class="blog_meta list">
                                    <li>
                                        <a href="#">
                                            Mark wiens
                                            <i class="lnr lnr-user">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            12 Dec, 2017
                                            <i class="lnr lnr-calendar-full">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            1.2M Views
                                            <i class="lnr lnr-eye">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            06 Comments
                                            <i class="lnr lnr-bubble">
                                            </i>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="social-links">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-github">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-behance">
                                            </i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <h2>
                                Astronomy Binoculars A Great Alternative
                            </h2>
                            <p class="excert">
                                MCSE boot camps have its supporters and its detractors. Some people do not understand
                                why you should have to spend money
                                on boot camp when you can get the MCSE study materials yourself at a fraction.
                            </p>
                            <p>
                                Boot camps have its supporters and its detractors. Some people do not understand why
                                you should have to spend money on boot
                                camp when you can get the MCSE study materials yourself at a fraction of the camp
                                price.
                                However, who has the willpower to actually sit through a self-imposed MCSE training.
                                who
                                has the willpower to actually sit through a self-imposed
                            </p>
                            <p>
                                Boot camps have its supporters and its detractors. Some people do not understand why
                                you should have to spend money on boot
                                camp when you can get the MCSE study materials yourself at a fraction of the camp
                                price.
                                However, who has the willpower to actually sit through a self-imposed MCSE training.
                                who
                                has the willpower to actually sit through a self-imposed
                            </p>
                        </div>
                        <div class="col-lg-12">
                            <div class="quotes">
                                MCSE boot camps have its supporters and its detractors. Some people do not understand
                                why you should have to spend money
                                on boot camp when you can get the MCSE study materials yourself at a fraction of the
                                camp
                                price. However, who has the willpower to actually sit through a self-imposed MCSE
                                training.
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <img alt="" class="img-fluid" src="{% static 'img/post-img1.jpg' %}"/>
                                </div>
                                <div class="col-6">
                                    <img alt="" class="img-fluid" src="{% static 'img/post-img2.jpg' %}"/>
                                </div>
                                <div class="col-lg-12 mt-25">
                                    <p>
                                        MCSE boot camps have its supporters and its detractors. Some people do not
                                        understand why you should have to spend money
                                        on boot camp when you can get the MCSE study materials yourself at a fraction
                                        of
                                        the camp price. However, who has the willpower.
                                    </p>
                                    <p>
                                        MCSE boot camps have its supporters and its detractors. Some people do not
                                        understand why you should have to spend money
                                        on boot camp when you can get the MCSE study materials yourself at a fraction
                                        of
                                        the camp price. However, who has the willpower.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comments-area">
                        <h4>
                            05 Comments
                        </h4>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img alt="" src="{% static 'img/c1.jpg' %}"/>
                                    </div>
                                    <div class="desc">
                                        <h5>
                                            <a href="#">
                                                Emilly Blunt
                                            </a>
                                        </h5>
                                        <p class="date">
                                            December 4, 2017 at 3:12 pm
                                        </p>
                                        <p class="comment">
                                            Never say goodbye till the end comes!
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a class="btn-reply text-uppercase" href="">
                                        reply
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="comment-list left-padding">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img alt="" src="{% static 'img/c3.jpg' %}"/>
                                    </div>
                                    <div class="desc">
                                        <h5>
                                            <a href="#">
                                                Annie Stephens
                                            </a>
                                        </h5>
                                        <p class="date">
                                            December 4, 2017 at 3:12 pm
                                        </p>
                                        <p class="comment">
                                            Never say goodbye till the end comes!
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a class="btn-reply text-uppercase" href="">
                                        reply
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img alt="" src="{% static 'img/c4.jpg' %}"/>
                                    </div>
                                    <div class="desc">
                                        <h5>
                                            <a href="#">
                                                Maria Luna
                                            </a>
                                        </h5>
                                        <p class="date">
                                            December 4, 2017 at 3:12 pm
                                        </p>
                                        <p class="comment">
                                            Never say goodbye till the end comes!
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a class="btn-reply text-uppercase" href="">
                                        reply
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img alt="" src="{% static 'img/c5.jpg' %}"/>
                                    </div>
                                    <div class="desc">
                                        <h5>
                                            <a href="#">
                                                Ina Hayes
                                            </a>
                                        </h5>
                                        <p class="date">
                                            December 4, 2017 at 3:12 pm
                                        </p>
                                        <p class="comment">
                                            Never say goodbye till the end comes!
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a class="btn-reply text-uppercase" href="">
                                        reply
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-form">
                        <h4>
                            Leave a Reply
                        </h4>
                        <form>
                            <div class="form-group form-inline">
                                <div class="form-group col-lg-6 col-md-6 name">
                                    <input disabled class="form-control" id="name" onblur="this.placeholder = 'Enter Name'"
                                           onfocus="this.placeholder = ''" placeholder="Enter Name" type="text"/>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 email">
                                    <input disabled class="form-control" id="email"
                                           onblur="this.placeholder = 'Enter email address'"
                                           onfocus="this.placeholder = ''" placeholder="Enter email address"
                                           type="email"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <input disabled class="form-control" id="subject" onblur="this.placeholder = 'Subject'"
                                       onfocus="this.placeholder = ''" placeholder="Subject" type="text"/>
                            </div>
                            <div class="form-group">
                                <textarea disabled class="form-control mb-10" name="message"
                                          onblur="this.placeholder = 'Messege'" onfocus="this.placeholder = ''"
                                          placeholder="Messege" required="" rows="5"></textarea>
                            </div>
                            <a disabled class="primary-btn submit_btn" href="#">
                                Post Comment
                            </a>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search Posts" type="text"/>
                                <span class="input-group-btn">
           <i class="lnr lnr-magnifier">
           </i>
          </button>
         </span>
                            </div>
                            <!-- /input-group -->
                            <div class="br">
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget author_widget">
                            <img alt="" class="author_img rounded-circle" src="{% static 'img/author.png' %}"/>
                            <h4>
                                Charlie Barber
                            </h4>
                            <p>
                                Senior blog writer
                            </p>
                            <div class="social_icon">
                                <a href="#">
                                    <i class="fa fa-facebook">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-github">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-behance">
                                    </i>
                                </a>
                            </div>
                            <p>
                                Boot camps have its supporters andit sdetractors. Some people do not understand why you
                                should
                                have to spend money on boot camp when you can get. Boot camps have itssuppor ters
                                andits
                                detractors.
                            </p>
                            <div class="br">
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">
                                Popular Posts
                            </h3>
                            <div class="media post_item">
                                <img alt="post" src="{% static 'img/post1.jpg' %}"/>
                                <div class="media-body">
                                    <a href="https://technext.github.io/crafted/blog-details.html">
                                        <h3>
                                            Space The Final Frontier
                                        </h3>
                                    </a>
                                    <p>
                                        02 Hours ago
                                    </p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img alt="post" src="{% static 'img/post2.jpg' %}"/>
                                <div class="media-body">
                                    <a href="https://technext.github.io/crafted/blog-details.html">
                                        <h3>
                                            The Amazing Hubble
                                        </h3>
                                    </a>
                                    <p>
                                        02 Hours ago
                                    </p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img alt="post" src="{% static 'img/post3.jpg' %}"/>
                                <div class="media-body">
                                    <a href="https://technext.github.io/crafted/blog-details.html">
                                        <h3>
                                            Astronomy Or Astrology
                                        </h3>
                                    </a>
                                    <p>
                                        03 Hours ago
                                    </p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img alt="post" src="{% static 'img/post4.jpg' %}"/>
                                <div class="media-body">
                                    <a href="https://technext.github.io/crafted/blog-details.html">
                                        <h3>
                                            Asteroids telescope
                                        </h3>
                                    </a>
                                    <p>
                                        01 Hours ago
                                    </p>
                                </div>
                            </div>
                            <div class="br">
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#">
                                <img alt="" class="img-fluid" src="{% static 'img/add.jpg' %}"/>
                            </a>
                            <div class="br">
                            </div>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock %}