{% extends "_layout.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <section class="home-banner-area">
        <div class="container">
            <div class="row justify-content-end fullscreen">
                <div class="col-lg-6 col-md-12 home-banner-left d-flex fullscreen align-items-center">
                    <div>
                        <h1 class="">
                            We Can
                            <span>
         Accelerate
        </span>

                            <br/>
                            Design &amp; Development
                            <br/>
                            of Your
                            <span>
         Web
        </span>
                            .
                        </h1>
                        <p class="mx-auto mb-40">
                            {% trans '拒绝996，让你有更多时间陪伴家人和朋友' %}
                        </p>
                        <a class="primary-btn" href="{% url 'help' %}">
                            {% trans '帮助手册' %}
                        </a>
                        <div class="d-flex align-items-center mt-60">
                            <a class="video-play-button" href="https://www.youtube.com/watch?v=vParh5wE-tM"
                               id="play-home-video">
         <span>
         </span>
                            </a>
                            <div class="watch_video">
                                <h5>
                                    Watch Live Demo
                                </h5>
                                <p>
                                    You will love the idea
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 no-padding home-banner-right d-flex fullscreen align-items-end">
                    <img alt="" class="img-fluid" src="{% static 'img/header-img.png' %}"/>
                </div>
            </div>
        </div>
    </section>
    <!--================ End banner Area =================-->
    <!--================ Start Brand Area =================-->

    <section class="service-area section-gap video-sec-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 text-center">
                    <div class="section-title">

                        <h1>
                            {% trans '多种模版生成模式' %}
                        </h1>
                    </div>
                </div>
                {#            <img class="img-fluid video-shape" src="{% static 'img/video-bg-shape.png' %}" alt="">#}
            </div>
            <div class="row">
                <!-- single-features -->
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-service">
                        <div class="service-icon">
                            <img alt="" src="{% static 'img/shape1.png' %}"/>
                            <img alt="" class="s-icon" src="{% static 'img/icon1.png' %}"/>
                            <img alt="" class="clr-icon" src="{% static 'img/clr-icon1.png' %}"/>
                        </div>
                        <div class="service-content">
                            <h4>
                                {% trans '精准模版' %}
                            </h4>
                            <p>
                                {% trans '只抓取你指定的URL为模版。我们将抓取页面内的css,js,图片，包括css文件内引入的其他css文件，以及字体文件和图片' %}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- single-features -->
                <div class="col-lg-3  col-sm-6 col-md-6">
                    <div class="single-service">
                        <div class="service-icon">
                            <img alt="" src="{% static 'img/shape1.png' %}"/>
                            <img alt="" class="s-icon" src="{% static 'img/icon2.png' %}"/>
                            <img alt="" class="clr-icon" src="{% static 'img/clr-icon2.png' %}"/>
                        </div>
                        <div class="service-content">
                            <h4>
                                {% trans '全站模版' %}
                            </h4>
                            <p>
                                {% trans '您只需提供一个入口页面，我们就能将这个入口页面以及与其关联的站点内的网页变为模版' %}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- single-features -->
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-service">
                        <div class="service-icon">
                            <img alt="" src="{% static 'img/shape1.png' %}"/>
                            <img alt="" class="s-icon" src="{% static 'img/icon3.png' %}"/>
                            <img alt="" class="clr-icon" src="{% static 'img/clr-icon3.png' %}"/>
                        </div>
                        <div class="service-content">
                            <h4>
                                {% trans '电邮模版' %}
                            </h4>
                            <p>
                                {% trans '提供一个URL，我们会转换这个页面为一个可以用于发送EMAIL的模版。页面中引用的图片，css,js资源会被压缩进一个HTML页面中' %}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- single-features -->
                <div class="col-lg-3  col-sm-6 col-md-6">
                    <div class="single-service">
                        <div class="service-icon">
                            <img alt="" src="{% static 'img/shape1.png' %}"/>
                            <img alt="" class="s-icon" src="{% static 'img/icon3.png' %}"/>
                            <img alt="" class="clr-icon" src="{% static 'img/clr-icon3.png' %}"/>
                        </div>
                        <div class="service-content">
                            <h4>
                                {% trans '引用模版' %}
                            </h4>
                            <p>
                                {% trans '此模式只转换你需要的HTML页面，页面内的图片，css,js资源将会以URL的方式引入，这样页面就不会消耗您的服务器流量' %}
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--================ Start CTA Area =================-->
    <section class="cta-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <h2>
                        {% trans '这里的模版有多强大?' %}
                    </h2>
                    <p>
                        {% blocktrans %}
                        我们会将模版文件组织得井井有条，图片、css、js文件会被分类存放在不同的文件夹下，您无需手工整理。
                        同时我们会根据您的设置将模版自动转换为你所使用的WEB开发框架的模版格式。
                        {% endblocktrans %}
                    </p>
                    <a class="primary-btn" href="#web-framework-list">
                        {% trans '支持的WEB框架模版' %}

                    </a>
                </div>
                <img alt="" class="cta-shape img-fluid" src="{% static 'img/cta-bg-shape.png' %}"/>
            </div>
        </div>
    </section>
    <!--================ End CTA Area =================-->
    <!--================ Start Blog Area =================-->
    <section class="blog-area section-gap">
        <div class="container">
            <div class="row align-items-end justify-content-center">
                <div class="col-lg-9 col-md-12 text-center">
                    <div class="section-title">
                        <a name="web-framework-list"></a>
                        <h1>
                            {% trans '自动转换为流行的WEB模版' %}

                        </h1>
                        <p>
                            {% blocktrans %}
                            从其他站点下载到的模版在使用时需要手工按照WEB框架模版引擎语法进行修改。我们能在生成模版的同时对模版进行转换，使模版支持主流的WEB框架，例如Django, Jinja2,
                            CakePHP等
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row blog-inner justify-content-center">
                <!-- single-blog -->
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-blog">
                        <div class="blog-thumb">
                            <img alt="" style="width: 360px; height: 250px;" class="img-fluid"
                                 src="{% static 'img/cakephp.png' %}"/>
                        </div>
                        <div class="blog-details">
                            <div class="blog-meta text-center">
         <span>
          25 june, 2018 | By Mark Wiens
         </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-blog -->
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-blog">
                        <div class="blog-thumb">
                            <img alt="" style="width: 360px; height: 250px;" class="img-fluid"
                                 src="{% static 'img/django.jpg' %}"/>
                        </div>
                        <div class="blog-details">
                            <div class="blog-meta text-center">
         <span>
          25 june, 2018 | By Mark Wiens
         </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-blog -->
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-blog">
                        <div class="blog-thumb">
                            <img alt="" style="width: 360px; height: 250px;" class="img-fluid"
                                 src="{% static 'img/flask.png' %}"/>
                        </div>
                        <div class="blog-details">
                            <div class="blog-meta text-center">
         <span>
          25 june, 2018 | By Mark Wiens
         </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row blog-inner justify-content-center">
                <!-- single-blog -->
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-blog">
                        <div class="blog-thumb">
                            <img alt="" style="width: 360px; height: 250px;" class="img-fluid"
                                 src="{% static 'img/symfony.jpg' %}"/>
                        </div>
                        <div class="blog-details">
                            <div class="blog-meta text-center">
         <span>
          25 june, 2018 | By Mark Wiens
         </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-blog -->
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-blog">
                        <div class="blog-thumb">
                            <img alt="" style="width: 360px; height: 250px;" class="img-fluid"
                                 src="{% static 'img/jinja2.jpg' %}"/>
                        </div>
                        <div class="blog-details">
                            <div class="blog-meta text-center">
         <span>
          25 june, 2018 | By Mark Wiens
         </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-blog -->
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-blog">
                        <div class="blog-thumb">
                            <img alt="" style="width: 360px; height: 250px;" class="img-fluid"
                                 src="{% static 'img/rails.png' %}"/>
                        </div>
                        <div class="blog-details">
                            <div class="blog-meta text-center">
         <span>
          25 june, 2018 | By Mark Wiens
         </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}