{% extends "_model_layout.html" %}
{% load static %}
{% load i18n %}

{% block craw_title %}
    引用模版抓取
{% endblock %}

{% block submit_url %}
    {% url 'ref_task' %}
{% endblock %}

{% block craw_configuration %}
    <div class="mt-20 row">
        <div class="col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label for="is_grab_out_resource">&nbsp;&nbsp;抓取引用的资源</label>
            <div class="confirm-switch">
                <input type="checkbox" id="is_grab_out_resource" disabled>
                <label for="is_grab_out_resource"></label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label for="is_ref_resource">是否引用外部资源</label>
            <div class="confirm-switch">
                <input type="checkbox" id="is_ref_resource" disabled checked>
                <label for="is_ref_resource"></label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label for="is_full_site">&nbsp;&nbsp;是否抓全站</label>
            <div class="confirm-switch">
                <input type="checkbox" id="is_full_site">
                <label for="is_full_site"></label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 switch-wrap d-flex justify-content-between">
            <label for="is_email_template">是否压缩为Email模版</label>
            <div class="confirm-switch">
                <input type="checkbox" id="is_email_template" disabled>
                <label for="is_email_template"></label>
            </div>
        </div>
    </div>
{% endblock %}
