{% extends "_layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans '任务状态' %}{% endblock %}
{% block content %}
    <section class="banner_area ">
        <div class="banner_inner overlay d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-left">

                    <h2>
                        {% trans '全部任务数量' %}: <span class="ml-10">{{ total_task }}</span>
                    </h2>
                    <br/>
                    {% if task_order %}
                        <h2>{% trans '您前面的任务数量' %}:<span class="ml-10">{{ task_order }}</span></h2>
                    {% else %}
                        <h2>{% trans '您没有运行的任务' %}</h2>
                    {% endif %}
                </div>
                <div class="mt-30">

                </div>
            </div>
        </div>
    </section>

    <section class="contact_area section-gap">

    </section>
{% endblock %}