{% extends "_layout.html" %}
{% load static %}
{% load i18n %}
{% block content %}
{#<div class="row">#}
{##}
{#共有{{ total_task }}个任务<br>#}
{#    您前面还有{{ before_task }}个任务，请耐心等待#}
{#</div>#}
<script>
task_id={{ request.session.task_id }}
</script>
 <div class="container-fluid" id="hero-08" style="background: #24252A;">
   <div class="row" style="min-height: 100vh;">
    <div class="col-lg-4 col-md-8 col-sm-12 py-5 m-auto">
     <h2 class="display-4 mb-3 text-light" style="font-family: 'Montserrat', sans-serif;">
      {% trans '任务状态' %}
     </h2>
     <p class="mb-5 lead text-light mr-5">

{#         {% trans 'template-spider为全球前端开发者提供快捷模版，加速网站设计和开发。' %}#}
         <br/>
         <br/>
         共有{{ total_task }}个任务<br/>
         {% if task_order is None %}
            {% trans '您没有任务' %}
             {% else %}
             您前面还有{{ task_order }}个任务，请耐心等待
         {% endif %}

     </p>


    </div>
    <div class="col-lg-6 col-md-12" style="background: url('{% static 'img/photo-43.jpg' %}') center center no-repeat; background-size: cover; min-height: 110vh;">
    </div>
   </div>
  </div>
{% endblock %}
